$primary: lighten(darkred, 5);
$text-color: #444;
$background: #f0f0f0;
$toolbar-height: 3.5rem;

html, body{
  height: 100%;
}

#app{
  background-color: $background;
  display: flex;
  flex-direction: column;
  height: 100%;

  .off-canvas-wrapper{
    flex: 1;
    overflow-y: scroll;
  }

  .off-canvas-content{
    padding-bottom: 5rem;
  }

}
#offCanvas{
  margin-top: $toolbar-height;
}

.top-bar{
  background-color: $primary;
  color: white;
  height: $toolbar-height;
}

.menu {
  a{
    color: $primary;
  }
  a.router-link-active{
    background-color: transparentize($primary, 0.8);
  }
}

.accordion-title{
  text-transform: capitalize;
}

.title{
  color: $primary;
}

.bottom-sheet{
  position: fixed;
  bottom: 0;
  background-color: white;
}

.shoppinglist {

    color: $text-color;
    padding: 1rem 0.5rem;
    margin-bottom: 1rem;
    background-color: lighten($background, 50);
    box-shadow: 2px 2px 8px lighten($text-color, 50);
    transition: all 0.5s;
    cursor: pointer;

    &:hover{
      box-shadow: 2px 2px 8px lighten($text-color, 10);
    }

    * {
      margin-bottom: 0;
    }

    .icon {
      margin-right: 0.5rem;
    }
}

.list{
  font-weight: bold;
  p{
    line-height: 1;
  }
}

.img-rounded{
  border-radius: 100%;
  height: 100%;
  width: 100%;
  margin-bottom: 1rem;
}

.search{
  position: relative;
}

.add-button{
  color: lighten($text-color, 25);
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover{
    color: limegreen;
  }
}

.product:hover .add-button{
  color: limegreen;
}

label{
  font-size: 12px;
  font-weight: bold;
  color: lighten($text-color, 10);

  span{
    margin-left: 10px;
  }
}

#app input {
  border-radius: 10px;
  height: 2rem;
}

.content{
  padding: 1rem 0;
}

.badge{
  line-height: 1.4;
}


button.fab{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  height: 3rem;
  width: 3rem;
  text-align: center;
  background-color: $primary;
  color: white;
  border-radius: 2rem;
  font-weight: bold;
  font-size: 1.5rem;
  box-shadow: 2px 2px 8px $text-color;
  z-index: 1;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}
